body{
    margin: 0;
    font-family: sans-serif;
    /* background:linear-gradient(#EFF54D 0% , #00AC61 50%); */
}
a{
  color: transparent;
}
h2{
    margin: 0;
}

/* navbar */
.navbar{  
    text-shadow: #242B2E;
    width: 100%;
    height: 60px;
    /* background-color:  */
    color: #CAD5E2;
    
}

.app-name{
    width:100px;
    margin:auto;
    padding-top: 10px;   
}

.app{
  width: 100%;
  height: 100vh;
  background:linear-gradient(#EFF54D 0% , #00AC61 50%);
  overflow-y: scroll;
 
}

/* navigator component */
.navigator{
    width:100%;
    height:40px;
    display: flex;
    flex-wrap: wrap;
    background-color: #5737D6;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}
.navigator-route{
    width: 50vw;
    height: 100%;border: 4px solid grey;
    box-sizing: border-box;
    /* border: 1px solid black; */
    text-align: center;
    
    color:#CAD5E2
}
.navigator-route:hover{
  background-color: #5B54FA;
}

/* home */

.home{
 
  width: 100%;
  margin: auto;
  margin-top: 10px;
  /* position: relative; */
  /* border: 1px solid blue; */
  height: 60vh;
  overflow-y: scroll;
}

.add-task-btn{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aqua;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: all .3s ease-in-out;cursor: pointer;
}
.add-task-btn:hover{
  transform: scale(1.05);

}
.card{
  margin: auto;
  margin-bottom: 20px;
  max-width: 320px;
  /* height: 100px; */
  background: linear-gradient(#538FFB , #5B54FA);
  padding:0 0 10px 10px;
  box-sizing: border-box;
  /* border: 1px solid yellow; */
  position: relative;
  border-radius: 10px;
  color: #242B2E;

}

.habit-time-day{
  margin: 0;
  max-width:140px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  color:#C7C11A;
  font-size: 20px;
  
}

.habit-day{
  margin: 0px;
}
.habit-time{
  margin: 0px;
  margin-left: 5px;
  display: inline-block;
  margin-right: 20px;
}
.delete-btn{
  position: absolute;
  right: 10px;
  top: 20px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.delete-btn:hover{
  transform: scale(1.2);
}

