body{
    margin: 0;
    font-family: sans-serif;
    
}
a{
  color: transparent;
}
h2{
    margin: 0;
}

/* navbar */
.navbar{  
    text-shadow: #242B2E;
    width: 100%;
    height: 60px;
    color: #203852;
    font-weight: 900;
    
}

.app-name{
    width:100px;
    margin:auto;
    padding-top: 10px;   
}

.app{
  width: 100%;
  height: 100vh;
  background:linear-gradient(#EFF54D 0% , #00AC61 50%);
  overflow-y: scroll;
 
}

/* navigator component */
.navigator{
    width:100%;
    height:40px;
    display: flex;
    flex-wrap: wrap;
    background-color: #5737D6;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;

}
.navigator-route{
    width: 49vw;
    height: 100%;
    border: 4px solid grey;
    box-sizing: border-box;
    text-align: center;
    color:#CAD5E2
}
.navigator-route:hover{
  background-color: #5B54FA;
}

/* home */

.home{
 
  width: 50%;
  margin: auto;
  margin-top: 10px;
  height: 60vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.add-task-btn{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.add-task-btn:hover{
  transform: scale(1.05);

}

.card{
  margin: auto;
  margin-bottom: 20px;
  max-width: 320px;
  background: linear-gradient(#538FFB , #5B54FA);
  padding:0 0 10px 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  color: #242B2E;

}
/* add task */

.habit-time-day{
  margin: 0;
  max-width:140px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  color:#C7C11A;
  font-size: 20px;
  
}

.habit-day{
  margin: 0px;
}
.habit-time{
  margin: 0px;
  margin-left: 5px;
  display: inline-block;
  margin-right: 20px;
}
.delete-btn{
  position: absolute;
  right: 10px;
  top: 20px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.delete-btn:hover{
  transform: scale(1.2);
}


.add-task-container{
  line-height: 30px;
  color:#5737D6;
  width:70%;
  margin: 30px;
  border: 2px solid grey ;
  padding: 10px 0 20px 20px;
  transition: all .3s ease-in-out;


}

.add-task-container:hover{

background-color:#eeeeee ;
}
.input-habit-name{
  margin-left:10px;
}

.select-weeks label{
  margin-right: 10px;
}

.submit-btn{
  margin-top:50px;
  background-color: transparent;
  border: 2px solid #5B54FA;
  width:100px;
  transition: all .3s ease-in-out;

}
.submit-btn:hover{
  background-color: #5B54FA;
  color:#CAD5E2
}
@media screen and (max-width:450px) {
  .add-task-container{
    width:80%
  }
  
}